/* Pagina Pronto */

.pronto-seccion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(243, 221, 182, 0.281), rgba(243, 221, 182, 0.233)), url("https://images.pexels.com/photos/7291607/pexels-photo-7291607.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .pronto-seccion-contenedor{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60%;
        height: 90%;
        background-color: $backgroundDark;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        margin: 50px 0px;
    }
}

